astroquery
astropy
astropy-healpix
skyplothelper[plotly]
psycopg[binary]
beautifulsoup4
requests
flask
duckdb
scipy
aiohttp
fsspec[http]
pytz
paramiko
geoip2fast
mdwarf-contin @ https://github.com/imedan/mdwarf_contin/archive/refs/heads/main.tar.gz
